<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241892443973-c7ah0urrq7dahcsv1luqkucrhelld7jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241892443973-c7ah0urrq7dahcsv1luqkucrhelld7jo</string>
	<key>API_KEY</key>
	<string>AIzaSyCpL9gaWTNAlywXzS9LhHEJB0Aha0HExZc</string>
	<key>GCM_SENDER_ID</key>
	<string>241892443973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Shubh.Uber</string>
	<key>PROJECT_ID</key>
	<string>uber-f672a</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-f672a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241892443973:ios:13cb79984717ef7995602c</string>
	<key>DATABASE_URL</key>
	<string>https://uber-f672a.firebaseio.com</string>
</dict>
</plist>